
<div class="Planet" >
    <!-- <h4 *ngIf="Planet.name == 'Alderaan'" >{{Planet.name}}</h4> -->
    <h4>{{Planet.name}}</h4>
    <p>{{Planet.rotation_period}}</p>
</div>


<!-- <div *ngIf = "color1; else blueP" class="red">
    <h3>Блок 3</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, blanditiis.</p>
  </div>
  
  <ng-template #blueP>
    <div class = "blue">
      <h3>Блок 3</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, blanditiis.</p>
    </div>
  </ng-template> -->
  